USE [QuanLyQuanCafe]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/16/2024 10:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[CCCD_Num] [nvarchar](20) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[Sex] [nvarchar](10) NULL,
	[Address] [nvarchar](255) NULL,
	[Role] [nvarchar](50) NULL,
	[Account] [nvarchar](50) NULL,
	[Password] [nvarchar](1000) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 5/16/2024 10:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TableID] [int] NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[DateCheckin] [datetime] NOT NULL,
	[DateCheckout] [datetime] NULL,
	[AccountID] [int] NOT NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillInfo]    Script Date: 5/16/2024 10:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BillID] [int] NOT NULL,
	[FoodID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/16/2024 10:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 5/16/2024 10:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableList]    Script Date: 5/16/2024 10:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([ID], [Name], [CCCD_Num], [PhoneNumber], [Sex], [Address], [Role], [Account], [Password], [Status]) VALUES (34, N'Trần Ngọc Minh', N'062738927987', N'0337828173', N'Nam', N'Gia Lai', N'Admin', N'admin', N'B6589FC6AB0DC82CF12099D1C2D40AB994E8410C', N'Hoạt động')
INSERT [dbo].[Account] ([ID], [Name], [CCCD_Num], [PhoneNumber], [Sex], [Address], [Role], [Account], [Password], [Status]) VALUES (37, N'Trần Văn A', N'12345678977868', N'01234567898789', N'Nam', N'123 Đường Lê Lợi, Quận 1, TP.HCM', N'Member', N'admin123', N'B6589FC6AB0DC82CF12099D1C2D40AB994E8410C', N'Hoạt động')
INSERT [dbo].[Account] ([ID], [Name], [CCCD_Num], [PhoneNumber], [Sex], [Address], [Role], [Account], [Password], [Status]) VALUES (40, N'Đặng Thị D', N'12123789456123', N'21320932145786', N'Nữ', N'101 Đường Hai Bà Trưng, Quận 1, TP.HCM', N'Admin', N'jackbocon1', N'B6589FC6AB0DC82CF12099D1C2D40AB994E8410C', N'Hoạt động')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Bill] ON 

INSERT [dbo].[Bill] ([ID], [TableID], [TotalPrice], [Discount], [DateCheckin], [DateCheckout], [AccountID], [Status]) VALUES (11, 1, CAST(86000.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)), CAST(N'2024-05-15T18:44:07.947' AS DateTime), CAST(N'2024-05-15T21:03:49.677' AS DateTime), 34, 1)
INSERT [dbo].[Bill] ([ID], [TableID], [TotalPrice], [Discount], [DateCheckin], [DateCheckout], [AccountID], [Status]) VALUES (13, 2, CAST(25000.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), CAST(N'2024-05-15T21:23:50.320' AS DateTime), CAST(N'2024-05-15T21:23:59.353' AS DateTime), 34, 1)
INSERT [dbo].[Bill] ([ID], [TableID], [TotalPrice], [Discount], [DateCheckin], [DateCheckout], [AccountID], [Status]) VALUES (14, 5, CAST(100000.00 AS Decimal(18, 2)), CAST(43000.00 AS Decimal(18, 2)), CAST(N'2024-05-15T21:25:03.180' AS DateTime), CAST(N'2024-05-15T22:01:03.027' AS DateTime), 34, 1)
SET IDENTITY_INSERT [dbo].[Bill] OFF
GO
SET IDENTITY_INSERT [dbo].[BillInfo] ON 

INSERT [dbo].[BillInfo] ([ID], [BillID], [FoodID], [Quantity]) VALUES (27, 11, 16, 3)
INSERT [dbo].[BillInfo] ([ID], [BillID], [FoodID], [Quantity]) VALUES (28, 11, 5, 3)
INSERT [dbo].[BillInfo] ([ID], [BillID], [FoodID], [Quantity]) VALUES (29, 11, 7, 3)
SET IDENTITY_INSERT [dbo].[BillInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name], [Description], [CreatedDate]) VALUES (1, N'Cà phê ', N'Coffee', CAST(N'2024-05-04T10:30:03.000' AS DateTime))
INSERT [dbo].[Category] ([ID], [Name], [Description], [CreatedDate]) VALUES (2, N'Nước ép', N'hihi', CAST(N'2024-05-04T10:34:58.000' AS DateTime))
INSERT [dbo].[Category] ([ID], [Name], [Description], [CreatedDate]) VALUES (3, N'Nước ngọt', N'Đã quá pepsi ơi', CAST(N'2024-05-04T21:12:32.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Food] ON 

INSERT [dbo].[Food] ([ID], [Name], [Description], [Status], [Price], [CategoryID], [CreatedDate]) VALUES (1, N'Trà đào', N'', N'Còn ', CAST(15000.00 AS Decimal(18, 2)), 4, CAST(N'2024-05-05T10:35:17.000' AS DateTime))
INSERT [dbo].[Food] ([ID], [Name], [Description], [Status], [Price], [CategoryID], [CreatedDate]) VALUES (2, N'Trà đào cam sả', N'', N'Còn ', CAST(15000.00 AS Decimal(18, 2)), 4, CAST(N'2024-05-05T10:35:35.000' AS DateTime))
INSERT [dbo].[Food] ([ID], [Name], [Description], [Status], [Price], [CategoryID], [CreatedDate]) VALUES (3, N'Pepsi', N'Đã quá pepsi ơi', N'Còn ', CAST(12000.00 AS Decimal(18, 2)), 3, CAST(N'2024-05-05T10:41:47.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Food] OFF
GO
SET IDENTITY_INSERT [dbo].[TableList] ON 

INSERT [dbo].[TableList] ([ID], [Name], [Status]) VALUES (1, N'Bàn 1', N'Trống')
INSERT [dbo].[TableList] ([ID], [Name], [Status]) VALUES (2, N'Bàn 2', N'Trống')
INSERT [dbo].[TableList] ([ID], [Name], [Status]) VALUES (3, N'Bàn 3', N'Trống')
SET IDENTITY_INSERT [dbo].[TableList] OFF
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT (getdate()) FOR [DateCheckin]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Food] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([TableID])
REFERENCES [dbo].[TableList] ([ID])
GO
ALTER TABLE [dbo].[BillInfo]  WITH CHECK ADD FOREIGN KEY([BillID])
REFERENCES [dbo].[Bill] ([ID])
GO
ALTER TABLE [dbo].[BillInfo]  WITH CHECK ADD FOREIGN KEY([FoodID])
REFERENCES [dbo].[Food] ([ID])
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[CalculateCategoryRevenue]    Script Date: 5/16/2024 10:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CalculateCategoryRevenue]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartDate DATETIME;
    DECLARE @EndDate DATETIME;

    -- Lấy ngày đầu tiên của tháng hiện tại
    SET @StartDate = DATEADD(month, DATEDIFF(month, 0, GETDATE()), 0);
    
    -- Lấy ngày cuối cùng của tháng hiện tại
    SET @EndDate = DATEADD(month, DATEDIFF(month, 0, GETDATE()) + 1, 0);

    SELECT c.Name AS 'Danh mục', SUM(bi.Quantity * f.Price) AS 'Doanh thu'
    FROM BillInfo bi
    INNER JOIN Food f ON bi.FoodID = f.ID
    INNER JOIN Category c ON f.CategoryID = c.ID
    INNER JOIN Bill b ON bi.BillID = b.ID
    WHERE b.Status = 1 -- Để chỉ tính các bill đã thanh toán (đã checkout)
    AND b.DateCheckin >= @StartDate AND b.DateCheckin < @EndDate
    GROUP BY c.Name;
END;
GO
/****** Object:  StoredProcedure [dbo].[CalculateTotalBillAmountInCurrentMonth]    Script Date: 5/16/2024 10:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CalculateTotalBillAmountInCurrentMonth]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartDate DATETIME;
    DECLARE @EndDate DATETIME;

    -- Lấy ngày đầu tiên của tháng hiện tại
    SET @StartDate = DATEADD(month, DATEDIFF(month, 0, GETDATE()), 0);
    
    -- Lấy ngày cuối cùng của tháng hiện tại
    SET @EndDate = DATEADD(month, DATEDIFF(month, 0, GETDATE()) + 1, 0);

    SELECT SUM(TotalPrice)
    FROM Bill
    WHERE DateCheckin >= @StartDate AND DateCheckin < @EndDate;
END;
GO
/****** Object:  StoredProcedure [dbo].[CountBillsInCurrentMonth]    Script Date: 5/16/2024 10:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CountBillsInCurrentMonth]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @StartDate DATETIME;
    DECLARE @EndDate DATETIME;
    SET @StartDate = DATEADD(month, DATEDIFF(month, 0, GETDATE()), 0);

    SET @EndDate = DATEADD(month, DATEDIFF(month, 0, GETDATE()) + 1, 0);

    SELECT COUNT(*) AS TotalBills
    FROM Bill
    WHERE DateCheckin >= @StartDate AND DateCheckin < @EndDate;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetBillDetailsByBillID]    Script Date: 5/16/2024 10:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBillDetailsByBillID]
    @BillID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        F.Name AS 'TenMon', 
        F.Price AS 'GiaTien', 
        BI.Quantity AS 'SoLuong', 
        F.Price * BI.Quantity AS 'ThanhTien'
    FROM 
        BillInfo BI
    INNER JOIN 
        Food F ON BI.FoodID = F.ID
    WHERE 
        BI.BillID = @BillID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetBillsByDateRange]    Script Date: 5/16/2024 10:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBillsByDateRange]
    @FromDate DATETIME,
    @ToDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        B.ID AS 'ID Bill',
        TL.Name AS 'Tên bàn',
        B.TotalPrice AS 'Tổng tiền',
        B.Discount AS 'Giảm giá',
        B.DateCheckin AS 'Giờ vào',
        B.DateCheckout AS 'Giờ ra',
        A.Name AS 'Thực hiện'
    FROM
        Bill B
    INNER JOIN
        TableList TL ON B.TableID = TL.ID
    INNER JOIN
        Account A ON B.AccountID = A.ID
    WHERE
		b.Status = 1 AND
        B.DateCheckin >= @FromDate
        AND B.DateCheckin <= @ToDate;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTableList]    Script Date: 5/16/2024 10:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GetTableList]
AS SELECT * FROM dbo.TableList
WHERE Name NOT LIKE '%Đã xoá%'
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBillInfo]    Script Date: 5/16/2024 10:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertBillInfo]
@BillID INT , @FoodID INT, @Quantity INT
AS
BEGIN
    Declare @isExistBillInfo INT
	Declare @foodCount INT=1;
	SELECT @isExistBillInfo= ID, @foodCount = Quantity FROM dbo.BillInfo WHERE BillID=@BillID AND FoodID=@FoodID
	IF (@isExistBillInfo>0)
	BEGIN
		DECLARE @newCount INT = @foodCount + @Quantity
		if (@newCount>0)
			UPDATE dbo.BillInfo SET Quantity= @foodCount+ @Quantity WHERE FoodID=@FoodID
		else 
			DELETE dbo.BillInfo WHERE BillID=@BillID AND FoodID=@FoodID
	END
	ELSE
		BEGIN
			IF (@Quantity>0)
			BEGIN
				INSERT BillInfo (BillID,FoodID,Quantity)
				VALUES (
				@BillID, @FoodID,@Quantity	
				)	
			END			 
		 END
 

END
GO
